* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link {
  color: black;
}

/* Ajoutez une marge en haut pour compenser le positionnement fixe de la navbar */
body {
  margin-top: 60px; /* Ajustez la valeur en fonction de la hauteur de votre navbar */
}
