/* Characters.jsx */
.Characters {
  padding: 20px; /* Espacement autour de la liste de personnages */
}

.character-list {
  display: flex;
  flex-wrap: wrap; /* Permet aux personnages de passer à la ligne suivante */
  gap: 20px; /* Espacement entre les lignes de personnages */
}
